.content-container {
  //border: 2px solid magenta;
  width: min(90%, 50rem);
  height: calc(100vh - 60px);
  margin: 0 auto;
  padding-block: 20px;
  
  h1 {
    margin-bottom: 5px;
  }

  .post-form {
    //border: 2px solid magenta;
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    .writing {
      width: 100%;
      height: 50%;
      border-radius: 5px;
    }
    .title {
      width: 100%;
      height: 5%;
    }

    button {
      width: fit-content;
      padding: 10px;
      border: none;
      border-radius: 10px;
      background-color: #A0522D;
      color: white;
      font-size: 0.8rem;
      font-weight: bold;
    }
  }
}
