.login-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  .inputs {
    width: 50%;
    padding: 0.3rem;
  }

  button {
    padding-inline: 2rem;
    padding-block: 0.5rem;
    width: fit-content;
    border: none;
    border-radius: 5px;
    background-color: #A0522D;
    color: white;

    &:hover {
      background-color: #8B4513;
      transform: translateY(-2px);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
  }
}